@model Data.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YayimTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayimTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimYol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimYol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsType.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsType.Adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
